@import "tailwindcss";

@theme {
  --color-bgblue1: #0d0e46;
  --color-bgblue2: #141575;
}

html,
body {
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100%;
  margin: 0;
  background: radial-gradient(circle at 70% 25%, var(--color-bgblue2), #0f172a);
}

/* --bg-x: 70%;
  --bg-y: 25%;
}

@keyframes shift-bg {
  0%,
  100% {
    --bg-x: 70%;
    --bg-y: 25%;
  }
  50% {
    --bg-x: 30%;
    --bg-y: 75%;
  }
} */

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
} */

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: white;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
} */
/* button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */
